
/* Testing a background color for the footer */
footer {
  background-color: #b8b880;  
  padding: 20px;
  text-align: center;
  color: #522a12; 

}



.picks_of_the_week {
  img {
    border-radius: 20px;
  }
}

.picks_of_the_week_images {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 55px;
  gap: 40px;

  img {
    border-radius: 10px;
  }

  .picks_of_the_week_image {
    position: relative;
  }

  .picks_of_the_week_text {
    position: absolute;
    top: -50px;
    left: -70px;
    rotate: -10.45deg;
    line-height: 45px;
  }

  .picks_of_the_week_images_cb {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

.perfect_and_recent {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;

  .find_perfect_recipe {
    position: relative;
    background-color: #79b3e6;
    border-radius: 10px;
    height: 240px;
    margin-top: 90px;
    padding: 20px;

    .find_perfect_recipe_text {
      position: absolute;
      top: -50px;
      left: -50px;
      rotate: -10.45deg;
      line-height: 45px;

      h2 {
        color: #b8b880;
      }
    }

    .dropdowns_and_button {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 35px;

      .find_perfect_recipe_dropdowns {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
        margin-top: 50px;

        select {
          background-color: #f8efdf;
          padding: 7px;
          border-radius: 3px;

          font-size: 15px;
          font-weight: 500;
        }
      }

      button {
        background-color: #b8b880;
        padding: 7px 25px;
        border-radius: 10px;
        box-shadow: #522a12 2px 3px 3px;
        cursor: pointer;
        margin-top: 15px;
        font-size: 17px;
        font-weight: 700;
      }
    }
  }

  .recent_favorites {
    align-self: flex-end;

    .recent_favorites_top {
      border: 2px solid #522a12;
      border-radius: 10px;

      & > :not(:last-child) {
        border-bottom: 2px solid #522a12;
      }

      a {
        display: flex;
        align-items: center;
        color: #522a12;
        text-decoration: none;
        gap: 15px;
        padding: 3px;
      }
    }
  }
}

.explore_more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 85px;
  gap: 10px;

  h2 {
    color: #e3c341;
  }

  .explore_more_images {
    display: flex;
    gap: 25px;

    a {
      text-decoration: none;

      img {
        height: 275px;
      }
    }
  }
}

.by_category {
  position: relative;
  background-color: #c9c79a;
  width: 100%;
  max-width: 95%;
  margin: 70px auto;
  border-radius: 10px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 30px;

  h2 {
    position: absolute;
    top: -40px;
    left: 30px;
    rotate: -3.45deg;
  }

  .by_category_categories {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .by_category_all {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;

      p {
        font-family: 'Source Serif 4', serif;
        font-style: italic;
        font-size: 30px;
      }
    }
  }
}

.newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 25px;

  h2 {
    position: absolute;
    top: -30px;
    left: 250px;
    color: #79b3e6;
    background-color: #f8efdf;
    padding: 0 10px;
  }

  button {
    background-color: #6da2d2;
    color: rgb(248, 248, 248);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #522a12;
    cursor: pointer;
    font-size: 15px;
    margin-top: 15px;
  }

  .newsletter_text_input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 2px solid #522a12;
    border-radius: 10px;
    padding: 35px 150px;

    p {
      font-size: 20px;
      color: #522a12;
      text-align: center;
      width: 650px;
      font-weight: 300;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;

      input {
        background-color: white;
        border-radius: 3px;
        border-style: none;
        width: 320px;
        height: 27px;
        padding: 10px;
        margin-top: 10px;
        box-shadow: #522b1254 2px 3px 15px;
        cursor: pointer;
      }
    }
  }
}
