
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  input{
    width: auto;
    padding: 15px;

    border-radius: 12px;
    border: 2px solid #522A12;
    text-align: center;
    background-color: transparent;
  }

    .loginbtn {
      width: auto;
      background-color: #B8B880;
      border-radius: 12px;
      border:1px solid #522A12;
      padding: 8px 70px;
      text-align: center;
      cursor: pointer;
      opacity: 0.9;
      font-size: 20px;  
      margin-bottom: 10%;    
      
    } 
    .containersignin
    a {
      color: #522A12;
    }
    
}
