.calendar {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  background-color: #f3d662;
  padding: 20px 50px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;

  h2 {
    color: #f8efdf;
  }

  button {
    background-color: #a88461a3;
    color: rgb(248, 248, 248);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #522a12;
    align-self: flex-end;
    margin-top: 15px;
    cursor: pointer;

    font-size: 15px;
  }
}

#calendar {
  padding: 50px;
  background-color: #a88461a3;
  border-radius: 5px;
  border: 1px solid #522a12;

  color: rgb(248, 248, 248);

  button {
    background-color: #a88461a3;
  }
}

.grocery_store_list {
  background-color: #b8b880;
  border: solid 1px #79b3e6;
  border-radius: 5px;
  margin-top: 50px;
  max-width: 1000px;
  width: 100%;
  margin: 60px auto;
  display: flex;
  flex-direction: column;

  h2 {
    color: #f8efdf;
    text-align: center;
    margin: 15px;
  }

  .grocery_ingridients_lists {
    display: flex;
    justify-content: center;
    gap: 50px;

    .recipe_grocery_list {
      background-color: #e7cc61;
      width: 250px;
      border-radius: 5px;
      border: 1px solid #522a12;
      color: #522a12;

      & > div:first-child {
        padding: 5px 15px;
        border-bottom: 1px solid #f8efdf;

        h3 {
          color: #522a12;
        }
      }

      .recipe_grocery_list_checkboxes {
        padding: 5px 15px;
      }
    }
  }

  button {
    background-color: #e7cc61;
    color: #522a12;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #522a12;
    align-self: center;
    margin: 30px 0;
    cursor: pointer;

    font-size: 15px;
  }
}

.recipes_added_toMealPrep {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 85px;
  margin-bottom: 40px;
  gap: 10px;

  h2 {
    color: #f17e37;
  }

  .recipes_added_toMealPrep_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    max-width: 1300px;

    .recipe_card {
      display: flex;

      a {
        text-decoration: none;
        color: #522a12;
      }

      img {
        border-radius: 3px;
      }

      .recipe_card_info {
        display: flex;
        justify-content: center;

        gap: 10px;

        .recipe_card_time {
          display: flex;

          gap: 3px;
        }
      }
    }
  }
}
