.recipes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  gap: 10px;

  h2 {
    color: #e3c341;
  }

  .recipes_filter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
    margin: 15px 0;

    select {
      appearance: none;
      padding: 3px 10px;
      background-color: #f17e37;
      cursor: pointer;
      border: 1px solid black;
    }

    select:nth-child(2) {
      border-radius: 10px 0 0 10px;
      margin-left: 20px;
    }

    select:not(:last-child) {
      border-right: none;
    }

    select:last-child {
      border-radius: 0 10px 10px 0;
    }
  }

  .recipes_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-width: 1300px;

    .recipe_card {
      color: currentColor;
      text-decoration: none;

      a {
        text-decoration: none;
        color: #522a12;
      }

      img {
        border-radius: 3px;
      }

      .recipe_card_info {
        display: flex;
        justify-content: space-between;
        gap: 10px;

        .recipe_card_name_time > p {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          width: 150px;
        }

        .recipe_card_time {
          display: flex;
          gap: 3px;

          p {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            width: 100px;
          }
        }
      }
    }
  }
}

.user_recipes_card {
  .user_recipes_card_background {
    color: #b8b880;
    width: 100px;
    height: 100px;
  }

  p {
    color: #522a12;
  }
}
