.recipes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  gap: 10px;

  h2 {
    color: #e3c341;
  }

  .recipes_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    max-width: 1300px;

    .recipe_card {
      display: flex;

      a {
        text-decoration: none;
        color: #522a12;
      }

      img {
        border-radius: 3px;
      }

      .recipe_card_info {
        display: flex;
        justify-content: center;

        gap: 10px;

        .recipe_card_time {
          display: flex;

          gap: 3px;
        }
      }
    }
  }
}

.user_recipes_card {
  .user_recipes_card_background {
    color: #b8b880;
    width: 100px;
    height: 100px;
  }

  p {
    color: #522a12;
  }
}
