@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Source Serif 4', serif;
}

html,
body {
  display: flex;
  flex-direction: column;
  background-color: #f8efdf;
  height: 100%;
  color: #522A12;
}

main {
  flex: 1;
}

/* Nav (do not touch) */
nav {
  background-color: #e3c341;

  display: flex;
  justify-content: space-evenly;

  ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 120px;
  }

  a {
    color: #522a12;
    text-decoration: none;
  }

  .nav_nes_logo {
    width: 150px;
    margin: -15px;
    cursor: pointer;
  }
}

h2 {
  font-family: 'Oleo Script Swash Caps', serif;
  font-weight: 700;
  font-style: normal;
  font-size: 45px;
  color: #79B3E6;
  -webkit-text-stroke: 2px #522a12;
  text-shadow: #522a12 2px 3px 3px;
}
/* Search Bar (do not touch) */
.search_bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0 10px 0;

  .search_bar_input {
    background-color: white;
    border-radius: 102px;
    border-style: none;
    width: 541px;
    height: 27px;
    padding: 12px 20px 12px 40px;
    box-shadow: #522b1254 2px 3px 15px;

    background-image: url('/Assets/Etc/Search.svg');
    background-repeat: no-repeat;
    background-position: 15px;
    cursor: pointer;
  }
}

.about_container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 20px;
  }

.mission_container {
    border: solid 2px #522a12;
    border-radius: 15px;
    padding: 50px;
    margin-bottom: 75px;
    position: relative;
    text-align: center;
}

.mission_container p {
    line-height: 30px;
}

.mission_container h2 {
    position: absolute;
    top: -30px; 
    left: 20px;
    background-color: #f8efdf;
    padding: 0 10px;
}

.philosophy_container {
    border: solid 2px #522a12;
    border-radius: 15px;
    padding: 50px;
    margin-bottom: 75px;
    position: relative;
    text-align: center;
}

.philosophy_container h2 {
    position: absolute;
    top: -30px; 
    left: 20px;
    background-color: #f8efdf;
    padding: 0 10px;
}

.philosophy_container p {
    line-height: 30px;
}

.why_us {
    background-color: #BAD1E6;
    padding: 35px;
    border-radius: 15px;
    text-align: left;
    margin: 20px 0;
}

.why_us h3 {
    margin-bottom: 10px;
    font-size: 25px;
  }
  
.why_us ul {
    list-style-position: outside;
    margin-left: 20px;
    line-height: 30px;
}

.team_container {
    border: solid 2px #522a12;
    border-radius: 15px;
    padding: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.team_container h2 {
    position: absolute;
    top: -30px; 
    left: 20px;
    background-color: #f8efdf;
    padding: 0 10px;
}

.team_member {
    padding: 15px;
    padding-top: 40px;
    padding-bottom: 40px;
    border: solid 2px #522a12;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    position: relative;
}

.team_member h3 {
    position: absolute;
    top: -15px; 
    font-size: 22px;
    color: #522A12;
    background-color: #f8efdf;
    padding: 0 10px;
    white-space: nowrap;
    display: inline-block; 
}

.team_member:nth-child(odd) h3 {
    left: calc(50% + 20%);
    transform: translateX(-50%);
}

.team_member:nth-child(even) h3 {
    right: calc(50% + 20%);
    transform: translateX(50%);
}

.team_member:nth-child(odd) {
    flex-direction: row;
}

.team_member:nth-child(even) {
    flex-direction: row-reverse;
}

.team_member .photo {
    width: 225px; 
    height: 225px;
    background-color: #ccc;
    border-radius: 25px;
    border: solid 2px #522a12;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team_member .text {
    width: 50%;
    padding: 20px;
    text-align: left; 
    background-color: #BAD1E6;
    border-radius: 10px;
    line-height: 30px;
}

/* Footer (do not touch) */
footer {
  padding-bottom: 40px;

  .keep_in_touch {
    max-width: 95%;
    width: 100%;
    margin: 0 auto;

    .keep_in_touch_top {
      display: flex;
      align-items: end;
      justify-content: space-between;
      border-bottom: 1px solid #79b3e6;
      padding-bottom: 10px;
      position: relative;

      h2 {
        font-family: 'Oleo Script Swash Caps', serif;
        font-weight: 700;
        font-style: normal;
        font-size: 45px;
        color: #b8b880;
        -webkit-text-stroke: 2px #522a12;
        text-shadow: #522a12 2px 3px 3px;
      }

      img {
        position: fixed;
        bottom: 60px;
        right: 20px;
        cursor: pointer;
        z-index: 2;
      }

      .keep_in_touch_top_bot {
        position: fixed;
        right: 90px;
        bottom: 80px;
        width: 415px;
        height: 350px;
        padding: 25px;
        background-color: #f8efdf;
        border: 6px solid #e7cc61;
        box-shadow: 0 0 0 1px #522a12;
        border-radius: 10px;

        h4 {
          font-size: 30px;
          text-align: center;
        }

        input {
          width: 80%;
          padding: 10px;
          border: none;
          background: #ffffff;
          border-radius: 15px;
        }

        .keep_in_touch_top_bot_toggle {
          position: absolute;
          top: -35px;
          right: 0;

          button {
            background-color: #e7cc61;
            border-radius: 5px 5px 0 0;
            padding: 5px 10px;
            border-width: 1px 1px 0 1px;
            border-style: solid;
            border-color: #522a12;
            cursor: pointer;
          }

          .active {
            font-weight: 700;
          }
        }

        .keep_in_touch_top_bot_chat {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
        }

        .keep_in_touch_top_bot_calc {
          position: relative;
          bottom: -20px;
          right: -100px;
          width: fit-content;
        }
      }

      .close {
        display: none !important;
      }
    }

    .keep_in_touch_bottom {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;

      & > div {
        display: flex;
        gap: 15px;
      }
    }
  }
}
